html, body {
  height: 100%;
}
body {
  font-family: 'Montserrat';
  background: #3b4a5f;
  color: white;
  font-size: 0.9rem;
}
#main-nav {
  background: #3b4a5f;
}
h2,
#brass-tacks,
#main-nav #nav-brand {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
}
.nav-link {
  cursor: pointer;
}
address,
.note {
  color: white;
}
#main-nav a {
  color: white;
  font-weight: bold;
}
.clearish-blue {
  background: rgba(59, 74, 95, 0.75);
}
#brass-tacks {
  text-align: center;
  border-radius: 2em;
}
a,
h2,
a:hover,
.schedule,
#main-nav a:hover,
#main-nav #nav-brand {
  color: rgb(224, 182, 122);
}
a:hover {
  text-decoration: underline;
}
#banner {
  background-image: url(../images/kat-and-adam-3.jpg);
  height: 100%;
  background-size: cover;
}
#banner div.row:first-child {
  height: 8%;
}
.separator-image {
  background-size: contain;
  width: 100%;
  height: 50%;
}
#skyline {
  background-image: url(../images/sm/skyline.jpg);
}
#station {
  background-image: url(../images/sm/station.jpg);
}
#capitol {
  background-image: url(../images/sm/capitol.jpg);
}
#luau {
  background-image: url(../images/sm/luau.jpg);
  background-size: cover;
  width: 100%;
  height: 50%;
}
.parallax {
  background-position: center;
  background-repeat: no-repeat;
}
#media-state {
  display: none;
  --state:xs;
}
.maybe-break {
  display: block;
}
.main-content {
  text-align: justify;
}
.blurb h2 {
  text-align: left;
  text-transform: uppercase;
}
#hotel .main-content,
.schedule {
  text-align: center;
}
/*sm*/
@media (min-width: 576px) {
  #media-state {
    --state:sm;
  }
  #main-nav #nav-brand {
    font-size: 1.25rem;
  }
  #nav-brand .maybe-break {
    display: none;
  }
}
/*md*/
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  #media-state {
    --state:md;
  }
  .parallax {
    background-attachment: fixed;
  }
  #banner {
    background-image: url(../images/kat-and-adam-2a.jpg);
  }
  #skyline {
    background-image: url(../images/md/skyline-a.jpg);
  }
  #luau {
    height: 100%;
    background-size: contain;
    background-position: bottom;
  }
  .separator-image {
    height: 33%;
    background-size: cover;
    background-position: bottom;
  }
  #hotel .maybe-break {
    display: none;
  }
}
/*lg*/
@media (min-width: 992px) {
  #media-state {
    --state:lg;
  }
  #banner {
    background-image: url(../images/kat-and-adam-2.jpg);
  }
  #skyline {
    background-image: url(../images/pvd-skyline.jpg);
  }
  .maybe-break {
    display: none;
  }
}
/*xl
@media (min-width: 1200px) {
}*/